oh-my-zsh/custom/example
oh-my-zsh/custom/example.zsh
oh-my-zsh/custom/example.zshcache
vimperator/info/default/history-command
vimperator/info/default/history-search
vimperator/info/default/local-marks
